html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#proceed_opt {
  cursor: pointer;
  display: block;
  position: fixed;
  bottom:50px;
  left: 50%;
  transform:translateX(-50%);
  padding:15px;
  padding-left:35px;
  padding-right:35px;
  background: transparent;
  border: 2px solid #FFF;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

#proceed_opt:hover, #proceed_opt:active {
  background-color: #FFF;
  color: #380572;
}

.hide_button {
  display: none !important;
}

.cat_title {
  display: block;
  position:fixed;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-size:36px;
  line-height:38px;
  top:50px;
  left:50%;
  transform: translateX(-50%);
  color:#FFF;
}

.catmessage_opt {
  cursor: pointer;
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50px;
  right: 50px;
  background-color: #FFF;
  color: #380572;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  border:none;
  outline: 0;
}

.catmessage_opt:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.show_opt {
  display: block !important;
}