html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  transform-origin: center center;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

#proceed_opt {
  cursor: pointer;
  display: block;
  position: fixed;
  bottom:50px;
  left: 50%;
  transform:translateX(-50%);
  padding:15px;
  padding-left:35px;
  padding-right:35px;
  background: #40c2ff;
  border:0;
  /* border: 2px solid #FFF; */
  border-radius: 3px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

#proceed_opt:hover, #proceed_opt:active {
  background-color: #5eccff;
  color: #FFF;
  transform: translateX(-50%) scale(0.9);
}

.hide_button {
  display: none !important;
}

.cat_title {
  display: block;
  position:fixed;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-size:40px;
  line-height:42px;
  top:50px;
  left:50%;
  transform: translateX(-50%);
  color:#FFF;
}

.catmessage_opt {
  cursor: pointer;
  display: none;
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 38px;
  right: 50px;
  background-color: #40c2ff;
  color: #FFF;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
  border:none;
  outline: 0;
}

.catmessage_opt:hover, .catmessage_opt:active {
  background-color: #5eccff;
  color:#FFF;
  transform: scale(0.9);
}

.show_opt {
  display: block !important;
}

.catwin {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* -webkit-box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.6);
  box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.6); */
  visibility: hidden;
  opacity: 0;
  display: block;
  position: fixed;
  width: 100%;
  max-width:920px;
  height:100%;
  max-height: 430px;
  background-color: rgba(22, 22, 22, 0.96);
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.2);
  padding:30px;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 5px;
  z-index:100;
}

.catwin_top {
  display: block;
  float:left;
  position: relative;
  width:100%;
  height:50px;
  padding:15px;
  line-height: 50px;
  background-color: transparent;
  box-sizing: border-box;
}

.catwin_content {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height:calc(100% - 100px);
  background-color: transparent;
  box-sizing: border-box;
}

.catwin_inputbar {
  display:block;
  float: left;
  position: relative;
  width: 100%;
  height: 50px;
  padding:15px;
  line-height: 50px;
  background-color: transparent;
  box-sizing: border-box;
}

.showwin {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateX(-50%) translateY(-50%) scale(1) !important;
}

/* .topbar {

} */