html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

input {
  transform-origin: center center;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

button {
  transform-origin: center center;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

#proceed_opt {
  cursor: pointer;
  display: block;
  position: fixed;
  bottom:50px;
  left: 50%;
  transform:translateX(-50%);
  padding:15px;
  padding-left:35px;
  padding-right:35px;
  background: #40c2ff;
  border:none;
  outline: 0;
  /* border: 2px solid #FFF; */
  border-radius: 3px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

#proceed_opt:hover, #proceed_opt:active {
  background-color: #5eccff;
  color: #FFF;
  transform: translateX(-50%) scale(0.9);
}

.hide_button {
  display: none !important;
}

.cat_title {
  display: block;
  position:fixed;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-size:40px;
  line-height:42px;
  top:50px;
  left:50%;
  transform: translateX(-50%);
  color:#FFF;
  font-weight: 700;
}

.catmessage_opt {
  cursor: pointer;
  display: none;
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 50px;
  right: 50px;
  background-color: #40c2ff;
  color: #FFF;
  font-size: 18px;
  line-height: 55px;
  text-align: center;
  border:none;
  outline: 0;
}

.catmessage_opt:hover, .catmessage_opt:active {
  background-color: #5eccff;
  color:#FFF;
  transform: scale(0.9);
}

.catreset_opt {
  cursor: pointer;
  display: none;
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 120px;
  right: 50px;
  background-color: #40c2ff;
  color: #FFF;
  font-size: 18px;
  line-height: 55px;
  text-align: center;
  border:none;
  outline: 0;
}

.catreset_opt:hover, .catreset_opt:active {
  background-color: #5eccff;
  color:#FFF;
  transform: scale(0.9);
}

.show_opt {
  display: block !important;
}

.catwin {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* -webkit-box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.6);
  box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.6); */
  visibility: hidden;
  opacity: 0;
  display: block;
  position: fixed;
  width: 100%;
  max-width:920px;
  height:100%;
  max-height: 430px;
  background-color: rgba(11, 11, 11, 0.92);
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.2);
  padding:30px;
  box-sizing: border-box;
  /* overflow: hidden; */
  border-radius: 5px;
  z-index:100;
}

.catwin_top {
  display: block;
  float:left;
  position: relative;
  width:100%;
  height:70px;
  background-color: transparent;
  box-sizing: border-box;
  overflow: auto;
  margin-bottom:20px;
}

.catwin_content {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height:calc(100% - 150px);
  background-color: rgba(55, 55, 55, 0.7);
  margin-bottom:20px;
  box-sizing: border-box;
  border-radius:3px;
  padding:15px;
  overflow: auto;
}

.catwin_inputbar {
  display:block;
  float: left;
  position: relative;
  width: 100%;
  height: 40px;
  background-color: transparent;
  box-sizing: border-box;
  overflow: auto;
}

.catflex_input {
  display: flex;
  flex-flow: row wrap;
  width:100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.catcolumn_input {
  width:calc(80% - 7px);
  background-color: transparent;
  height:40px;
  margin-right:7px;
  box-sizing: border-box;
}

.catcolumn_button {
  width:calc(20% - 7px);
  background-color:transparent;
  height:40px;
  margin-left:7px;
  box-sizing: border-box;
}

.chat_input {
  font-family: 'Montserrat', sans-serif;
  display: block;
  position: relative;
  width:100%;
  height:100%;
  box-sizing: border-box;
  border:0;
  background-color:#EEE;
  border:0;
  outline:0;
  border-radius:3px;
  padding:7px;
  font-size: 14px;
  line-height: 22px;
  font-weight:400;
  color:#222;
}

.chat_button {
  cursor:pointer;
  display: block;
  position: relative;
  width:100%;
  height:100%;
  line-height: 22px;
  text-align: center;
  background-color: #ff3d3d;
  border: 0;
  outline:0;
  color:#FFF;
  text-transform: uppercase;
  font-size:14px;
  font-weight:700;
  border-radius:3px;
  box-sizing:border-box;
  transform-origin: center center;
}

.chat_button:hover, .chat_button:active {
  transform: scale(0.9);
  background-color: #c03030;
}

.chat_input:active, .chat_input:focus {
  background-color: #FFF;
}

.chat_input::placeholder {
  color:#999 !important;
  text-transform: uppercase;
}

.showwin {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateX(-50%) translateY(-50%) scale(1) !important;
}

.generic_line {
  display: block;
  position:relative;
  float:left;
  width:100%;
  padding:15px;
  box-sizing: border-box;
  margin:0;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 20px;
  font-family: 400;
  font-family:'Montserrat', sans-serif;
  border-radius:3px;
}

.you_line {
  background-color: #40c2ff;
  color:#FFF;
}

.cat_line {
  background-color: #F1f1f1;
  color:#222;
}

.catwin_pic {
  display: block;
  position: relative;
  float:left;
  color:#000;
  width:70px;
  height:70px;
  box-sizing: border-box;
  object-fit:cover;
  border-radius:3px;
  border:0;
}

.catwin_close {
  cursor:pointer;
  display: block;
  position: absolute;
  width:30px;
  height:30px;
  border:none;
  outline:0;
  border-radius:50%;
  right:-15px;
  top:-15px;
  z-index:200;
  background: #f1f1f1;
  color:#333;
  text-align: center;
  line-height:30px;
}

.catwin_close:hover, .catwin_close:active {
  transform: scale(0.9);
  opacity: 0.95;
}

/* .topbar {

} */